<!-- home.html: landing page after login, linking to CRUD modules. -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/header :: head('Home')}"></head>
<body>
<div th:replace="~{fragments/header :: navbar}"></div>
<div class="container">
    <div class="p-4 bg-white rounded shadow-sm">
        <h2>Bem-vindo ao Mini Sistema Acadêmico</h2>
        <p>Use o menu para gerenciar alunos, disciplinas e matrículas.</p>
        <div class="row g-3">
            <div class="col-md-4">
                <a class="btn btn-primary w-100" th:href="@{/alunos}">Gerenciar Alunos</a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-secondary w-100" th:href="@{/disciplinas}">Gerenciar Disciplinas</a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-success w-100" th:href="@{/matriculas}">Gerenciar Matrículas</a>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
